nav {
    background-color: rgb(0, 29, 147)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 20px;
}

.nav-item {
    font-size: 15px;
}